body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    background-color: #333; 
    color: #fff;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 250px;
    overflow-y: auto;
    border-right: 2px solid #fff;
}

nav header {
    padding: 20px;
    font-size: 1.8em;
    text-align: center;
    border-bottom: 2px solid #fff;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    padding: 15px;
    transition: background-color 0.3s;
    border-bottom: 1px solid #fff;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
}

nav ul li a:hover {
    color: #ffc0cb;
}

main {
    margin-left: 250px;
    padding: 40px;
    background: linear-gradient(to bottom, #c8a2c8, #ffd1dc);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

main header {
    font-size: 2.5em;
    margin-bottom: 30px;
}

#intro-photos {
    max-width: 400px;
    max-height: 300px;
    width: 100%;
    height: auto;
}

#strategy-photos {
    max-width: 400px;
    max-height: 300px;
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border: 2px solid #fff;
    border-radius: 10px;
}

#wcc-photos {
    max-width: 400px;
    max-height: 300px;
    width: 100%;
    height: auto;
}

.divider {
    border-top: 3px solid #000;
    margin-top: 20px; 
    padding-top: 20px; 
}